.dashboard {
  background-color: rgba(238, 178, 207, 0.2);
  color: $fg;
  padding: 0.9rem 0.5rem 0rem 0.4rem;
  border-radius: 21px;
  border: 4px solid #eb71dc;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 305px;
}



.date {
  background-color: $bg;
  color: $fg;
  border-radius: 4px;
}

.timebox {
  margin: 10px 0px;
  .time-container {
    .content {
      color: #eb71dc;
      font-family: Product Sans;
      font-weight: bolder;
      font-size: 60px;
    }
    .divider {
      margin: 8px 15px;
      padding: 0px 1px;
      background: linear-gradient($red, $magenta, $blue, $cyan);
    }
  }
  .date-container {
    color: #eb71dc;
    font-family: Product Sans;
    margin-top: 2px;
  }
  .clock_period_class {
    color: #eb71dc;
    font-size: 21px;
    font-weight: bolder;
    font-family: Product Sans;
    margin-left: 4px;
  }
}


.clock_time_sep {
    font-size: 21px;
    color: #000000;
    margin: 0px 4px; /* Adjust for the separator */
}


.clock_period_class {
    margin-left: 4px; /* Just a little space before AM/PM */
}

.network {
  background-image: url('icons/network2.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 305px;
    color: #000000; /* Ensure text color is visible */
    padding: 16px;
    border-radius: 5px;
    margin: -120 280 -60 15;

}

.bluetooth {
  background-image: url('icons/audio-card.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 305px;
    color: rgba(238, 178, 207, 0.4); /* Ensure text color is visible */
    padding: 15px;
    border-radius: 5px;
    margin: -10 185 -10 15;
}

.power-lock {
  background-image: url('icons/emblem-readonly.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 305px;

    color: #000000; /* Ensure text color is visible */
    padding: 15px;
    border-radius: 5px;
    margin: -92 180 -10 110;
}

.power-sex {
  background-image: url('icons/emblem-readonly.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 305px;

    color: rgba(238, 178, 207, 0.4); /* Ensure text color is visible */
    padding: 15px;
    border-radius: 5px;
    margin: -80 40 26 48;
}


.profile {
  background-color: rgba(234, 96, 170, 0);
  border-radius: 26px;
  padding: 12px;

.firstcol {
      .image {
      min-height: 6px;
      min-width: 4px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50px;
    }
}

  .firstcol {
    .pfp {
      min-height: 6px;
      min-width: 4px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50px;
    }
  }
  .lastcol {
    font-family: Product Sans;
    font-size: 2px;
    .username {
      font-size: 20px;
      font-weight: bolder;
    }
    .uptime, .hostname {
      font-size: 14px;
    }
    .hostname {
      color: $blue;
    }
    .uptime {
      color: $lightblack;
    }
  }
}

.music-box {
  background-color: $bgSecondary;
  padding: 10px;
  border-radius: 24px;
  .firstcol {
    .picture {
      min-height: 64px;
      min-width: 64px;
      border-radius: 12px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .lastcol {
    font-family: Hoyofont;
    font-size: 14px;
    .title {
      font-size: 16px;
      font-weight: bolder;
    }
    .artist {
      color: $fg;
    }
    .music-controls {
      font-family: Iosevka NF;
      font-size: 18px;
      button {
        padding: 0px 6px;
        border-radius: 7px;
        transition: all ease .2s;
        &:hover { background-color: $black; }
        &:active { background-color: $bg; }
      }
      .pause {
        font-size: 26px;
      }
    }
  }
}

.controls {
  background-color: $bgSecondary;
  border-radius: 24px;
  padding: 9px;
  .header {
    font-family: Product Sans;
    color: $lightblack;
    font-size: 14px;
  }
  .content {
    .disk-slider {
      .disk-label {
        font-size: 20px;
        font-family: Iosevka Nerd Font;
        margin-right: 9px;
        color: $fg;
      }
      & progressbar trough {
        all: unset;
        border-radius: 10px;
        background-color: $black;
        border: none;
        margin-bottom: 10px;
        min-height: 9px;
        min-width: 200px;
        margin-left: 3px;
        & progress {
          all: unset;
          min-height: 9px;
          background-color: $red;
          color: #000000;
          border-radius: 10px;
        }
      }
    }
    .memo-slider {
      .memo-label {
        font-size: 30px;
        font-family: Iosevka Nerd Font;
        margin-right: 13px;
        margin-bottom: -5px;
        color: $fg;
      }
      & progressbar trough {
        all: unset;
        border-radius: 10px;
        background-color: $black;
        border: none;
        margin-bottom: 10px;
        min-height: 9px;
        min-width: 200px;
        margin-left: 3px;
        & progress {
          all: unset;
          min-height: 9px;
          background-color: $magenta;
          color: #000000;
          border-radius: 10px;
        }
      }
    }
    .cpu-slider {
      .cpu-label {
        font-size: 22px;
        font-family: Iosevka Nerd Font;
        margin-right: 18px;
        margin-bottom: -5px;
        color: $fg;
      }
      & progressbar trough {
        all: unset;
        border-radius: 10px;
        background-color: $black;
        border: none;
        margin-bottom: 10px;
        min-height: 9px;
        min-width: 200px;
        margin-left: 3px;
        & progress {
          all: unset;
          min-height: 9px;
          background-color: $blue;
          color: #000000;
          border-radius: 10px;
        }
      }
    }
    .vol-slider {
      .vol-label {
        font-size: 20px;
        font-family: Iosevka Nerd Font;
        margin-right: 16px;
        color: $fg;
      }
      & scale trough {
        all: unset;
        border-radius: 10px;
        background-color: $black;
        border: none;
        min-height: 9px;
        min-width: 200px;
        margin-left: 3px;
        & highlight {
          all: unset;
          background-color: $blue;
          color: #000000;
          border-radius: 10px;
        }
      }
    }
    .br-slider {
      .br-label {
        font-size: 20px;
        font-family: Iosevka Nerd Font;
        margin-right: 15px;
        color: $fg;
      }
      & scale trough {
        all: unset;
        border-radius: 10px;
        background-color: $black;
        border: none;
        min-height: 9px;
        min-width: 200px;
        margin-left: 3px;
        & highlight {
          all: unset;
          background-color: $yellow;
          color: #000000;
          border-radius: 10px;
        }
      }
    }
  }
}


.cal-box {
  font-family: Hoyofont;
  border-radius: 26px;
  padding: 0px 1rem .2rem;
  color: $black;
  border: 4px solid #eb71dc;
  background-color: rgba(234, 96, 170, 0.2);

  .cal {
    padding: .7rem .10rem 0rem;
    margin-left: 10px;

    & > * {
      border: solid 0px transparent;
    }
    
    &.highlight {
      padding: 10rem;
    }
  }
}

calendar:selected {
  color: $cyan;
}

calendar.header {
  color: $black;
  font-weight: bold;
}

calendar.button {
  color: $red;
}

calendar.highlight {
  color: $black;
  font-weight: bold;
}

calendar:indeterminate {
  color: $fg;
}

window {
  border-radius: 21px;
  background-color: rgba(234, 96, 170, 0.3);
  color: #d6cbf6;
  font-family: Museo Sans;
}

button {
  all: unset;
  padding: 10px;
}

.search-side {
  border-radius: 12px;
  background-color: rgba(238, 178, 207, 0.5);
  margin: 20px 30px 20px 30px;
}
.search-side:hover {
  color: #D35D6E;
}
.sysbtn button {
  font-size: 30px;
}
.sysbtn2 button {
  font-size: 10px;
}

.visual-studio-code{
  background-image: url('icons/visual-studio-code.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 305px;
  color: rgba(238, 178, 207, 0);
}
.moonlight-side{
  background-image: url('icons/moonlight_stream.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 305px;
  color: rgba(238, 178, 207, 0);
}

.stargame-side{
  background-image: url('icons/StarRail.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 305px;
  color: rgba(238, 178, 207, 0);
}
.re1999-side{
  background-image: url('icons/re1999.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 305px;
  color: rgba(238, 178, 207, 0);
}
.games-side{
  background-image: url('icons/wwicon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 305px;
  color: rgba(238, 178, 207, 0);
}
.krita-side{
  background-image: url('icons/krita.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 305px;
  color: rgba(238, 178, 207, 0);
}
.logout-side{
  background-image: url('icons/emblem-readonly.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 305px;
  color: rgba(238, 178, 207, 0);
}


