
.profile {
  background-color: rgba(234, 96, 170, 0);
  border-radius: 26px;
  padding: 12px;

  .firstcol {
    .pfp {
      min-height: 6px;
      min-width: 4px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50px;
    }
  }
  .lastcol {
    font-family: Product Sans;
    font-size: 2px;
    .username {
      font-size: 20px;
      font-weight: bolder;
    }
    .uptime, .hostname {
      font-size: 14px;
    }
    .hostname {
      color: $blue;
    }
    .uptime {
      color: $lightblack;
    }
  }
}

.music-boxs {
  background-color: $bgSecondary;
  padding: 10px;
  color: #ffffff;
  border: 4px solid #eb71dc;
  border-radius: 24px;
  .firstcol {
    .picture {
      min-height: 64px;
      min-width: 64px;
      border-radius: 16px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .lastcol {
    font-family: ElysiaOSNew12;
    font-size: 14px;
    .title {
      font-size: 20px;
      font-weight: bolder;
    }
    .artist {
      font-size: 18px;
    }
    .music-controls {
      font-family: Iosevka NF;
      font-size: 18px;
      button {
        padding: 0px 6px;
        border-radius: 7px;
        transition: all ease .2s;
        &:hover { background-color: $black; }
        &:active { background-color: $bg; }
      }
      .pause {
        color: #ffffff;
        font-size: 46px;
      }
      .prev {
        color: #ffffff;
        font-size: 46px;
      }
      .next {
        color: #ffffff;
        font-size: 46px;
      }
    }
  }
}

.controls {
  background-color: $bgSecondary;
  border-radius: 24px;
  padding: 9px;
  .header {
    font-family: Product Sans;
    color: $lightblack;
    font-size: 14px;
  }
  .content {
    .disk-slider {
      .disk-label {
        font-size: 20px;
        font-family: Iosevka Nerd Font;
        margin-right: 9px;
        color: $fg;
      }
      & progressbar trough {
        all: unset;
        border-radius: 10px;
        background-color: $black;
        border: none;
        margin-bottom: 10px;
        min-height: 9px;
        min-width: 200px;
        margin-left: 3px;
        & progress {
          all: unset;
          min-height: 9px;
          background-color: $red;
          color: #000000;
          border-radius: 10px;
        }
      }
    }
    .memo-slider {
      .memo-label {
        font-size: 30px;
        font-family: Iosevka Nerd Font;
        margin-right: 13px;
        margin-bottom: -5px;
        color: $fg;
      }
      & progressbar trough {
        all: unset;
        border-radius: 10px;
        background-color: $black;
        border: none;
        margin-bottom: 10px;
        min-height: 9px;
        min-width: 200px;
        margin-left: 3px;
        & progress {
          all: unset;
          min-height: 9px;
          background-color: $magenta;
          color: #000000;
          border-radius: 10px;
        }
      }
    }
    .vol-slider {
      .vol-label {
        font-size: 20px;
        font-family: Iosevka Nerd Font;
        margin-right: 16px;
        color: $fg;
      }
      & scale trough {
        all: unset;
        border-radius: 10px;
        background-color: $black;
        border: none;
        min-height: 9px;
        min-width: 200px;
        margin-left: 3px;
        & highlight {
          all: unset;
          background-color: $blue;
          color: #000000;
          border-radius: 10px;
        }
      }
    }
    .br-slider {
      .br-label {
        font-size: 20px;
        font-family: Iosevka Nerd Font;
        margin-right: 15px;
        color: $fg;
      }
      & scale trough {
        all: unset;
        border-radius: 10px;
        background-color: $black;
        border: none;
        min-height: 9px;
        min-width: 200px;
        margin-left: 3px;
        & highlight {
          all: unset;
          background-color: $yellow;
          color: #000000;
          border-radius: 10px;
        }
      }
    }
  }
}

