* {
  all: unset;
}


button {
  all: unset;
  padding: 10px;
}



.search-side {
  border-radius: 12px;
  background-color: rgba(238, 178, 207, 0.5);
  margin: 20px 30px 20px 30px;
}
.search-side:hover {
  color: #D35D6E;
}
.sysbtn3 button {
  border-radius: 86px;
  border: 1px solid #eb71dc;
  font-size: 100px;
}
.sysbtn2 button {
  font-size: 10px;
}
.shutdown-side ~ button:hover {
}
.wall1{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  color: rgba(238, 178, 207, 0);
}
.wall2{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  color: rgba(238, 178, 207, 0);
}

.wall3{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper3.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 180px;
  color: rgba(238, 178, 207, 0);
}
.wall4{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  color: rgba(238, 178, 207, 0);
}
.wall5{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px;
  color: rgba(238, 178, 207, 0);
}
.wall6{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper6.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 200px;
  color: rgba(238, 178, 207, 0);
}
.wall7{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper7.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 220px;
  color: rgba(238, 178, 207, 0);
}
.wall8{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper8.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 220px;
  color: rgba(238, 178, 207, 0);
}
.wall9{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 225px;
  color: rgba(238, 178, 207, 0);
}
.wall10{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper10.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 221px;
  color: rgba(238, 178, 207, 0);
}
.wall11{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper11.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 205px;
  color: rgba(238, 178, 207, 0);
}
.wall12{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper12.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 190px;
  color: rgba(238, 178, 207, 0);
}
.wall13{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper13.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 208px;
  color: rgba(238, 178, 207, 0);
}
.wall14{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper14.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 200px;
  color: rgba(238, 178, 207, 0);
}
.wall15{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper15.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 195px;
  color: rgba(238, 178, 207, 0);
}
.wall16{
  background-image: url('/home/matsuko/.wallpaper/Wallpaper16.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  color: rgba(238, 178, 207, 0);
}
