* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-weight: bold;
  font-family: hoyofont;
  font-size: 14px;

}

window#waybar {
  background: rgba(92, 83, 109, 0);
}

tooltip {
  background: #1e1e2e;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #f738bd;
}

tooltip label {
  color: #fee6f4;
}

#workspaces {
  padding: 3px 0px;
  margin: 6px 3px;
  border-radius: 80px;
  border: solid 0px #ea60aa;
}

#workspaces button {
  padding: 4px 8px;
  margin: 8px 3px;
  border-radius: 26px;
  color: #ffffff;
  background-color: #ea60aa;
  transition: all 0.1s ease-in-out;
}

#workspaces button.active {
  color: #ffffff;
  background-color: #fee6f4;
  background-image: url('/home/matsuko/.config/waybar/icons/22.png');
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 42px;
  min-width: 50px;
  transition: all 0.1s ease-in-out;
}

#workspaces button.default {
  color: #ffffff;
  background-color: #fee6f4;
  background-image: url('/home/matsuko/.config/waybar/icons/19.png');
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 42px;
  min-width: 50px;
  transition: all 0.1s ease-in-out;
}

#workspaces button:hover {
  background-color: #fee6f4;
  color: #fee6f4;
  border-radius: 16px;
  min-width: 50px;
}


#window {
  padding: 6px 3px 6px 4px;
  margin: 6px 3px 2px 4px;
  border-radius: 80px;
  margin: 16px 15px 18px 5px;
  color: #ffffff;
  background-color: #ea60aa;
}

window#waybar.empty #window {
  background-color: transparent;
}

#clock {
  padding: 1px 6px;
  margin: 17px 3px;
  background-color: #ea60aa;
  background-image: linear-gradient(62deg, #ea60aa 20%, #fee6f4 70%);
  font-style: normal;
  font-size: 12px;
  border-radius: 21px;
  background-repeat: no-repeat;
}

#custom-temp, #cpu, #memory {
  background-color: #ea60aa;
  padding: 1px 6px;
  margin: 17px 3px;
  border-radius: 21px;
  background-repeat: no-repeat;
  background-position: left;
}

#custom-workelysia {
  background-color: #ea60aa;
  padding: 6px 8px;
  margin: 16px 3px;
  background-image: url('/home/matsuko/.config/waybar/icons/4.png');
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  border-radius: 21px;
  min-width: 20px;
}

#battery {
  background-color: #ea60aa;
  padding: 3px 6px;
  margin: 17px 3px;
  border-radius: 21px;
  background-repeat: no-repeat;
}

#tray,
#custom-volume,
#network,
#backlight,
#bluetooth,
#cava
#custom-power {
  margin: 0px 3px;
  font-size: 14px;
}

#custom-logo {
  background-image: url('/home/matsuko/.config/waybar/icons/elylogopink3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ea60aa;
  background-size: 23px;
  color:  #1E1E2E;
  padding: 1px 6px;
  margin: 17px 3px;
  border-radius: 21px;
}

#image {
  margin: 0px 5px;
}
.modules-center{
  background-color: #ea60aa;
  background-image: linear-gradient(62deg, #fee6f4 0%, #ea60aa 100%);
  color:  #ffffff;
  padding: 4px 6px;
  border-radius: 18px;
  font-weight: bold;
  margin: 11px 10px 18px 10px;
}


.icon {
    font-size: 50px; /* Adjust the size as needed */
}

#network {
  min-width: 60px;
}


#pulseaudio-slider slider {
  background: #fee6f4;
  background-color: transparent;
  box-shadow: none;
  margin-right: 7px;
}

#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #1E1E2E;
  
}

#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #ea60aa;
}

#backlight-slider slider {
  background: #fee6f4;
  background-color: transparent;
  box-shadow: none;
  margin-right: 7px;
}

#backlight-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #1E1E2E;
}

#backlight-slider highlight {
  border-radius: 8px;
  background-color: #ea60aa;
}

#pulseaudio {
  background-image: url('/home/matsuko/.config/waybar/icons/audio-headphones.png');
  background-color: #ea60aa;
  padding: 3px 6px;
  margin: 17px 3px;
  border-radius: 21px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 21px;
}

#backlight {
  background-image: url('/home/matsuko/.config/waybar/icons/sun.png');
  background-color: #ea60aa;
  padding: 3px 6px;
  margin: 17px 3px;
  border-radius: 21px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 21px;

}

#custom-swaync {
  background-image: url('/home/matsuko/.config/waybar/icons/alerts.png');
  background-color: #fee6f4;
  padding: 1px 6px;
  margin: 17px 3px;
  border-radius: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}

#custom-pic {
  background-image: url('/home/matsuko/.config/waybar/icons/bige.png');
  background-color: #ea60aa;
  padding: 3px 6px;
  margin: 17px 3px;
  border-radius: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
}


#network {
  background-image: url('/home/matsuko/.config/waybar/icons/network.png');
  background-color: #ea60aa;
  padding: 1px 6px;
  margin: 17px 3px;
  border-radius: 21px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 25px;
}



.recording {
  color: #1E1E2E;
}
.idle {
  color: gray;
}

#custom-recorder {
  color: #f01242;
  font-size: 21px;
}


@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
