[Desktop Entry]
Name=Elysia Settings
Comment=ElysiaOS Settings App
Exec=elysia-updater.sh
Icon=elysettings
Terminal=false
Type=Application
Categories=System;
